body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#race{
    padding: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 0 0 12px #d1d0d3;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#race div{
    text-align: center;
}

#race img{
    width: 200px;
    display: block;
}